.SignInPage_container{
    display: flex;
    margin: auto;
    padding-bottom: 50px;
    .SignInPage_left{
        width: 50%;
    }
    .SignInPage_right{
        width: 50%;
        padding-top: $pd-3;
        .form-content{
           
            width: 80%;
            margin: auto;
            .form-content_title{
                @include text($color-black, $fs-3, $fw-bold);
                padding-bottom: $pd-2;
            }
            .form-group{
                width: 70%;
                .form-control{
                    
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom : 1px solid black;
                    &:focus{
                       
                        box-shadow: none;
                    }
                }
                .alert{
                    padding-left: 0;
                    height: 20px;
                    background-color: white;
                    color: red;
                }
            }
        }
    }
}