.header_Container{
    padding: 0;
    .row1{    
        .header_logo{
           
            img{
                margin-left: 10px;
                height: 70px;
                width: 70px;
            }
        }
        .header_work{
            align-self:center; 
            .tag_ul{
                li{
                    margin-right: 10px;
                    a{
                       color: red;
                    }
                }
            }
        }
        .header_sign{
            display: flex;
            align-self:center; 
            justify-content: flex-end;
        }
    }
    
}
